.book-info {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    background-color: white;
}

.main {
    background-color: coral;
    /* width: 100vw;
    height: 100vh; */
    /* justify-content: center; */
}