.book-info {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.main {
    background-color: coral;
    margin: 0px 0px 0px 0px;
    /* justify-content: center; */
}