<div class="main">
    <h1> THIS THE BOOKS PAGE </h1>
    <div class='book-info'>
        <button (click)="showCreate = !showCreate"> Create Book </button>
        <br>
        <br>
        
        <div *ngIf="showCreate">
            Title:
            <input [(ngModel)]= "newBook.title" type="text" value="">
            | Author:
            <input [(ngModel)]= "newBook.author" type="text" value="">
            
            <button (click)="onCreateBook(newBook)"> Submit </button>
            
        </div>
        
    </div>
    <div *ngFor="let book of books">
        <div class="book-info">
            <p> Book Number (id): {{book.id}}</p>
            <h1> Title: {{book.title }} </h1>
        
            <h3> Subtitle: {{ book.subtitle }}</h3>
            <h4> Author: {{book.author }} </h4>
            <p>
                Description: {{book.description}}
            </p>
            <p>
                <a href="{{ book.website }}" >
                    website
                </a> 
            </p>
            <p>
                Published: {{book.published}} | Publisher: {{book.publisher}} | Pages: {{book.pages}}
            </p>
            <h2> Price: {{book.price | currency}} </h2>
            <p>
                <button (click)="onDeleteBook(book.id)"> Delete </button> 
                <br>
                <br>
                <button  (click)="show = !show">Edit </button>
                <!-- show ={{show}} -->
            </p>
            <div *ngIf="show" class="edit-div">
                <label for="input">Title </label>
                <input [(ngModel)]="newBook.title" type="text" value="{{book.title}}">
                |
                <label for="input">Author </label>
                <input [(ngModel)]="newBook.author" type="text" value="{{book.author}}">
                <br>
                <br>
                <button (click)="onUpdateBook(book.id, newBook)"> Update </button> <br>

            </div>
            
        </div>
    </div>

</div>
